@font-face {
        font-family: TTLakes;
        src: url(font/TTLakes-Regular.ttf)
}
@font-face {
    font-family: TTLakes-Bold;
    src: url(font/TTLakes-Bold.ttf);
}
@font-face {
    font-family: TTLakes-Light;
    src: url(font/TTLakes-Light.ttf);
}
.logo__link,
.scroll-menu__link {
    text-decoration: none ;
    color:#7E7E82;
}
body {
    font-family: TTLakes, sans-serif;
    background-color: #F8F8F8;
    overflow: scroll;
}

.container {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 1120px){
    .container {
        background-color: #F8F8F8;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
}
.header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 1120px) {
    .header {
        display: none;
    }
}

.header-wrapper {
    display: flex;
    background: #ffffff;
    align-items: center;
    flex-basis: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
}
@media only screen and (min-width: 768px) {
    .header-wrapper {
        justify-content: space-between;
    }
}
.header-menu {
    display: flex;
    align-items: center;
    flex-basis: 40%;
    flex-grow: 0;
}
@media only screen and (min-width: 768px) {
    .header-menu {
        flex-basis: 27%;
        justify-content: space-around;
    }
}
.header-menu__btn-wrapper {
    margin-right: 16px;
    margin-left: 16px;
    position: relative;
}
@media only screen and (min-width: 768px) {
    .header-menu__btn-wrapper::after {
        position: absolute;
        content: "";
        border-left: 2px solid #EAEAEA;
        height: 35px;
        top: 5px;
        left: 60px;
    }
}
.header-btn {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    outline: none;
}
.btn_theme {
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.header-btn:hover {
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 0.5s;
}

.header-btn:focus {
    box-shadow: 0 0 0 3px gray;
}
.header-menu__btn_theme-menu {
    background-image: url("image/burger.svg");
    background-position: 10px 12px;
}
.header-menu::after {
    content: "";
    border-left: 2px solid #EAEAEA;
    height: 35px;
    margin-left: 20px;
}
@media only screen and (min-width: 768px) {
    .header-menu::after {
        display: none;
    }
}
.lists {
    display: flex;
    flex-basis: 60%;
    margin-right: 10px;
    list-style-type: none;
}
@media only screen and (min-width: 768px) {
    .lists {
        flex-basis: 40%;
        justify-content: space-around;
    }
}
.tablet-list {
    display: none;
    list-style-type: none;
}
@media only screen and (min-width: 768px){
     .tablet-list {
         display: flex;
         flex-basis: 50%;
         justify-content: space-around;
     }
 }
.tablet-list__btn_theme-call {
    background-image: url("image/call.svg");
}
.tablet-list__btn_theme-chat {
    background-image: url("image/chat.svg");

}
.tablet-list__btn_theme-profile {
    background-image: url("image/profile.svg");
}
.mobile-list {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
@media only screen and (min-width: 768px) {
    .mobile-list {
        flex-basis: 45%;
    }
}
.mobile-list__btn_theme-repair {
    background-image: url("image/repair.svg");
}
.mobile-list__btn_theme-check {
    background-image: url("image/checkstatus.svg");
    background-position: 12px 10px;
}
.mobile-list__item:nth-child(1) {
    margin-left: 16px;
    margin-right: 16px;
}
.mobile-list__item:nth-child(2) {
    margin-right: 16px;
}
.main {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    justify-content: space-between;
    min-height: 100%;
}
.title-str {
    display: flex;
    justify-content: space-between;
}
.desktop-menu {
    flex-basis: 35%;
    display: none;
}
.option {
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.option__text {
    margin-right: 8px;
    font-weight: 900;
    color: black;
}
.option__btn_theme-repair {
    background-image: url("image/repair.svg");
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.option__btn_theme-check  {
    background-image: url("image/checkstatus.svg");
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: 12px 10px;
}
.title-str__title {
    margin: 24px 16px 24px 16px;
    position: relative;
    font-family: TTLakes-Bold, sans-serif;
    flex-grow: 1;

}

.title-str__title::before {
    content:"";
    position: absolute;
    height: 40px;
    width: 4px;
    left: -17px;
    background-color: #41F6D7;
    border: 1px solid #41F6D7;
    border-top-right-radius: 22%;
    border-bottom-right-radius: 22%;
}
.scroll-menu-container {
    display: flex;
    position: relative;
}
.blur {
    position: absolute;
    height: 40px;
    width: 24px;
    filter: blur(1px);
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
@media only screen and (min-width: 1120px) {
    .blur {
        display: none;
    }
}

.scroll-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow-x: auto;
    flex-grow: 1;
    list-style-type: none;
}
@media only screen and (min-width: 1120px) {
    .scroll-menu {
        flex-wrap: wrap;
    }
}
.scroll-menu__item {
    flex-shrink: 0;
    margin-left: 16px;
    padding: 8px 20px 8px 20px;
}
@media only screen and (min-width: 1120px) {
    .scroll-menu__item {
        flex-shrink: 1;
        margin-left: 0;
        padding: 8px 20px 8px 20px;
    }
}
.scroll-menu__item:first-child,
.scroll-menu__item:nth-child(5) {
    display: none;
}
@media only screen and (min-width: 1120px) {

    .scroll-menu__item:first-child,
    .scroll-menu__item:nth-child(5) {
        display: list-item;
    }
}
.scroll-menu__item:first-child {
    border: 1px solid #41F6D7;
    border-radius: 3px;
    background-color: white;
    padding: 8px 20px 8px 20px;
}
@media only screen and (min-width: 1120px){
    .scroll-menu__item:first-child {
    margin-left: 28px;
}
}
.scroll-menu__item:nth-child(2) {
    border: 1px solid #41F6D7;
    border-radius: 3px;
    background-color: white;
    padding: 8px 20px 8px 20px;
}
@media only screen and (min-width: 1120px) {
    .scroll-menu__item:nth-child(2) {
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
}
.content {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .content {
        flex-direction: row;
    }
}
@media only screen and (min-width: 1120px) {
    .content {
        justify-content: center;
        width: 1120px;
    }
}

.info {
    flex-basis: 100%;
    margin: 24px 16px 24px 20px;
}
.info__text {
    font-size: 14px;
    line-height: 18px;
}
.read-more__btn {
    width: 132px;
    height: 24px;
    border: 0;
    margin-left: 32px;
    background-color: rgba(248,248,248, 1);
    font-family: TTLakes,sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}
.read-more__btn::before {
    content: "";
    display: block;
    background-image: url("image/icon.svg");
    width: 8px;
    height: 11px;
    position: absolute;
    top: 6px;
}

.main-image {
    padding: 20px 0 20px 0;
    max-height: 384px;
    max-width: 532px;
}
@media only screen and (min-width: 768px) {
    .main-image {
        flex-basis: 47%;
    }
}
@media only screen and (min-width: 1120px) {
    .main-image {
        flex-basis: 52%;
    }
}

.main-image__image{
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media only screen and (min-width: 768px) {
    .main-image__image {
        border-radius: 10px;
    }
}






@media only screen and (min-width: 768px) {

    .content-info{
        flex-basis: 50%;
    }

    .tablet-list__item:last-child {
        position: relative;
    }
    .tablet-list__item:last-child::after {
        position: absolute;
        content: "";
        border-left: 2px solid #EAEAEA;
        height: 35px;
        margin-left: 20px;
        margin-top: 3px;
    }
    .info::after {
        content:"Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера";
        display: block;
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
    }
}
@media only screen and (min-width: 1120px){
    .info::after {
        content: " Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
        font-size: 14px;
        line-height: 18px;
        margin-top: 20px;
        display: block;
    }

    .content-info{
        flex-basis: 47%;
    }

    .scroll-menu__item:last-child {
         margin-top: 10px;
         margin-left: 28px;
        flex-shrink: 0;
     }

    .scroll-menu__item:nth-child(3) {
        display: none;
    }

    .desktop-menu {
        display: flex;
        flex-basis: 40%;
        justify-content: flex-end;
    }
    .tool {
        align-self: center;
    }
    .option {
        display: flex;
        align-items: center;
    }
    .option__text {
        margin-right: 8px;
    }
    .info{
        margin: 24px 16px 24px 0;
    }
}
