@font-face {
        font-family: TTLakes;
        src: url(font/TTLakes-Regular.ttf)
}
@font-face {
    font-family: TTLakes-Bold;
    src: url(font/TTLakes-Bold.ttf);
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: TTLakes, sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none ;
    color:#7E7E82;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 88px;

}
.header-nav {
    display: flex;
    background: #ffffff;
    align-items: center;
    flex-basis: 100%;
    justify-content: space-between;
}
.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 60%;
    margin-left: 6px;

}
.header-btn {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
}
.header-menu__btn_theme-menu {
    background-image: url("image/burger.svg");
}
.header-menu::after {
    content: "";
    border-left: 2px solid #EAEAEA;
    height: 35px;
}
.lists {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
    margin-right: 10px;
}
.tablet-list {
    display: none;
}
.tablet-list__btn_theme-call {
    background-image: url("image/call.svg");
}
.tablet-list__btn_theme-chat {
    background-image: url("image/chat.svg");
}
.tablet-list__btn_theme-profile {
    background-image: url("image/profile.svg");
}
.mobile-list {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around;
}
.mobile-list__btn_theme-repair {
    background-image: url("image/repair.svg");
}
.mobile-list__btn_theme-check {
    background-image: url("image/checkstatus.svg");
}
.mobile-list__item:nth-child(1) {
    margin-left: 20px;
}
.main {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    justify-content: space-between;
    min-height: 100%;
}
.title-str {
    display: flex;
    justify-content: space-between;
}
.desktop-menu {
    flex-basis: 35%;
    display: none;
}
.option {
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.option__text {
    margin-right: 8px;
    font-weight: 900;
    color: black;
}
.option__btn_theme-repair {
    background-image: url("image/repair.svg");
}
.option__btn_theme-check  {
    background-image: url("image/checkstatus.svg");
}
.title-str__title {
    margin: 24px 16px 24px 16px;
    position: relative;
    font-family: TTLakes-Bold, sans-serif;

}

.title-str__title::before {
    content:"";
    position: absolute;
    height: 40px;
    width: 4px;
    left: -17px;
    background-color: #41F6D7;
    border: 1px solid #41F6D7;
    border-top-right-radius: 22%;
    border-bottom-right-radius: 22%;
}
.scroll-menu-container {
    display: flex;
    position: relative;
}
.blur {
    position: absolute;
    height: 40px;
    width: 24px;
    filter: blur(1px);
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
.scroll-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow-x: auto;
    flex-grow: 1;
}
.scroll-menu__item{
    flex-shrink: 0;
    margin-left: 16px;
    margin-right: 16px;
}
.scroll-menu__item:first-child,
.scroll-menu__item:nth-child(5) {
    display: none;
}
.scroll-menu__item:first-child {
    border: 1px solid #41F6D7;
    border-radius: 3px;
    background-color: white;
    padding: 8px 20px 8px 20px;
}
.scroll-menu__item:nth-child(2) {
    border: 1px solid #41F6D7;
    border-radius: 3px;
    background-color: white;
    padding: 8px 20px 8px 20px;
}

.content {
    display: flex;
    flex-direction: column;
}
.info {
    flex-basis: 100%;
    margin: 24px 16px 24px 20px;
}
.info__text {
    font-size: 14px;
    line-height: 18px;
}
.read-more__btn {
    background-image: url("image/icon.svg");
    background-color: #F8F8F8;
    width: 8px;
    height:10px;
    border: 0;
    margin-left:20px;
}
.read-more__text {
    margin-left: 16px;
    font-weight: 600;
}

.main-image {
    padding: 20px 0 20px 0;
    max-height: 384px;
    max-width: 532px;
}
.main-image__image{
    width: 100%;
    height: auto;
    object-fit: cover;

}
@media only screen and (min-width: 768px) {

    .content {
        flex-direction: row;
    }
    .content-info{
        flex-basis: 50%;
    }
    .main-image {
        flex-basis: 47%;
    }
    .main-image__image {
        border-radius: 10px;
    }

    .header-menu::after {
        display: none;
    }
    .header-menu__btn-wrapper {
        position: relative;
    }
    .header-menu__btn-wrapper::after {
        position: absolute;
        content: "";
        border-left: 2px solid #EAEAEA;
        height: 35px;
        top: 5px;
        left: 60px;
    }
    .header-menu {
        flex-basis: 27%;
        justify-content: space-around;
    }
    .lists {
        flex-basis: 40%;
        justify-content: space-around;
    }

    .tablet-list {
        display: flex;
        flex-basis: 50%;
        justify-content: space-around;
    }
    .tablet-list__item:last-child {
        position: relative;
    }
    .tablet-list__item:last-child::after {
        position: absolute;
        content: "";
        border-left: 2px solid #EAEAEA;
        height: 35px;
        margin-left: 20px;
        margin-top: 3px;
    }

    .mobile-list {
        flex-basis: 45%;
    }
    .info::after {
        content:"Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера";
        display: block;
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
    }

    .scroll-menu__item:nth-child(2) {
        border: 1px solid #41F6D7;
        border-radius: 3px;
        background-color: white;
        padding: 8px 20px 8px 20px;
    }

}
@media only screen and (min-width: 1120px){

    .header {
        display: none;
    }
    .container {
        background-color: #F8F8F8;
    }
   .info::after {
        content: " Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
        font-size: 14px;
        line-height: 18px;
        margin-top: 20px;
        display: block;
    }
    .content {
        justify-content: center;
    }
    .content-info{
        flex-basis: 47%;
        margin-left: -16px;
    }
    .main-image {
        flex-basis: 52%;
    }
    .blur {
        display: none;
    }
    .scroll-menu-container {
        margin: auto;
    }
    .scroll-menu {
        flex-wrap: wrap;
    }
    .scroll-menu__item{
        margin-top: 10px;
    }
    .scroll-menu__item:first-child,
    .scroll-menu__item:nth-child(5){
        display: list-item;
    }
    .scroll-menu__item:nth-child(3) {
        display: none;
    }
    .scroll-menu__item:nth-child(2) {
        border:none;
        background-color: rgba(255, 255, 255, 0);
    }
    .desktop-menu {
        display: flex;
        flex-basis: 40%;
        justify-content: flex-end;
    }
    .tool {
        align-self: center;
    }
    .option {
        display: flex;
        align-items: center;
    }
    .option__text {
        margin-right: 8px;
    }

}