.container_hidden {
    filter: blur(3px);

}
.body_unscrollable {
    overflow: hidden;
}
.mobile-options__link {
    text-decoration: none ;
    color:#7E7E82;
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    background-color: white;
    box-shadow: 0 10px 15px 10px gray;
    position: fixed;
    left: 0;
    transform: translateX(-150%);
    transition: transform 1s ease-in-out;
    top: 0;
    overflow: auto;
    z-index: 2;
}

.mobile-menu_show {
    transform: translateX(0);
}

.header-mobile-menu-wrapper {
    display: flex;
}
.header-mobile-menu-wrapper__header-mobile-menu {
    padding-bottom: 16px;
    padding-top: 16px;
    margin-bottom: 32px;
}
.header-mobile-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
}
.header-mobile-menu__logo {
    position: relative;
    right: 38px;
}
.header-mobile-menu__btn {
    position: relative;
    margin-left: -10px;
    background-color: #FF3E79;
}
.header-mobile-menu__btn::before,
.header-mobile-menu__btn::after {
    left: 19px;
    top: 9px;
    position: absolute;
    background-color: white;
    width: 2px;
    height: 22px;
    content: "";
}

.header-mobile-menu__btn::before {
    transform: rotate(45deg);
}
.header-mobile-menu__btn::after {
    transform: rotate(-45deg);
}

.header-mobile-menu__btn_theme-search {
    background-image: url("image/search.svg");
    margin-right: -10px;
}

.mobile-menu-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 85%;
    margin-left: 30px;
}
.contacts .tablet-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}
.contacts__tablet-list-item:last-child::after {
    display: none;
}
.contacts__tablet-list-item {
    margin-right: 16px;
    margin-bottom: 16px;
}
.mobile-menu-lists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 70%;
}
.mobile-options {
    list-style-type: none;
}
.mobile-options__item{
    margin-bottom: 32px;
    position: relative;
}

.mobile-options__item::before {
    display: none;
    content:"";
    position: absolute;
    height: 32px;
    width: 2px;
    top: -5px;
    left: -30px;
    background-color: #41F6D7;
    border: 1px solid #41F6D7;
    border-top-right-radius: 22%;
    border-bottom-right-radius: 22%;
}
.mobile-options__link {
    font-weight: bold;
    color: black;
}
.mobile-options__item:hover::before {
    display: block;
}
.mobile-options__link:hover {
    opacity: 0.5;
}
.contacts {
    flex-direction: column;
    flex-basis: 25%;
}
.contacts__email {
    font-weight: bold;
    margin-bottom: 16px;
}
.contacts__phone {
    line-height: 32px;
    font-size: 24px;
    font-weight: 900;
    font-family: TTLakes-Bold, sans-serif;
}
.contacts__link {
    text-decoration: none;
    color: black;
}
.languages__btn {
    width: 25px;
    height: 25px;
    border: 0;
    text-transform: uppercase;
    font-family: TTLakes-Light, sans-serif;
    font-weight: 900;
    background-color: rgba(255, 255,255, 0.0);
    outline: none;
}
.languages__btn:focus {
    box-shadow: 0 0 0 2px gray;
}
.languages__btn:hover {
    opacity: 0.5;
    transform: scale(1.2);

}