
.repair-brands-container {
    min-height: 110px;
}
.swiper__title {
    display: flex;
    align-items: center;
    border-top: 1px solid #D9FFF5;;
    text-transform: uppercase;
    color: #7E7E82;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    margin-bottom: 16px;
    padding: 16px;
}
.swiper-container__blur {
    position: absolute;
    height: 74px;
    width: 48px;
    filter: blur(3px);
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 2;
}
.swiper-slide{
    max-width: 270px;
}
.swiper-slide__item {
    position: relative;
    height: 72px;
    width: 240px;
    border-radius: 5px;
    margin-left: 16px;
}
.swiper-slide__item_lenovo {
    background: no-repeat 16px center url("image/brands/lenovo.svg") white;
}
.swiper-slide__item_samsung {
    background: no-repeat 16px center url("image/brands/samsung.svg") white;
}
.swiper-slide__item_apple {
    background: no-repeat 16px center url("image/brands/apple.svg") white;
}
.swiper-slide__item_sony {
    background: no-repeat 16px center url("image/brands/sony.svg") white;
}
.swiper-slide__item_bosch {
    background: no-repeat 16px center url("image/brands/bosch.svg") white;
}
.swiper-slide__item_hp {
    background: no-repeat 16px center url("image/brands/hp.svg") white;
}
.swiper-slide__item_acer {
    background: no-repeat 16px center url("image/brands/acer.svg") white;
}
.swiper-slide__item_view-sonic {
    background: no-repeat 16px center url("image/brands/veiwsonic.svg") white;
}
.swiper-slide__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    position: absolute;
    right: 18px;
    top: 14px;
}

.swiper-slide__link::before,
.swiper-slide__link::after {
    content: "";
    width: 2px;
    height: 9px;
    background-color: #FF3E79;
    position: absolute;
    right: 18px;
}

.swiper-slide__link::before {
    transform: rotate(55deg);
    top: 17px;
}

.swiper-slide__link::after {
    transform: rotate(-55deg);
    top: 13px;
}
.swiper-look-more {
    display: none;
}
.swiper-pagination-bullet-active {
    background-color: #949499 !important;
}
@media only screen and (min-width: 768px) {
    .swiper {
        display: flex;
        flex-direction: column;
    }
    .swiper__title {
        padding-left: 32px;
    }
    .swiper-container__blur {
        display: none;
    }
    .repair-brands-container {
        display: flex;
    }
    .swiper__wrapper {
        flex-wrap: wrap;
        max-width: 720px !important;
    }
    .swiper-slide{
        max-width: 240px;
    }
    .swiper__slide {
        margin-bottom: 16px;

    }
    .swiper-slide__item {
        margin-left: 0;
        width: 224px;
    }
    .swiper__slide:nth-child(4) {
        display: none;
    }
    .swiper__slide:nth-child(8) {
        display: none;
    }
    .swiper-look-more {
        display: flex;
        width: 768px;
    }
    .swiper-look-more_left {
        margin-bottom: 16px;
        margin-top: 14px;
    }
    .swiper-look-more__btn {
        margin-left: 14px;
        font-family: TTLakes, sans-serif;
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        border: 0;
        background-color: rgba(248,248,248, 1);
        outline: none;
    }
    .swiper__slide_hidden {
        display: none;
    }
    .swiper__slide_show {
        display: block;
    }
    .rotate {
        transform: rotate(180deg);
    }
    .swiper-look-more_top {
        margin-top: 46px;
    }
}
@media only screen and (min-width: 1120px) {
    .swiper {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper__wrapper {
        width: 1056px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper__slide:nth-child(4) {
        display: block;
    }
    .swiper__slide:nth-child(8) {
        display: block;
    }
}